.name {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: inherit;
  }
  
  .name::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #5FB4A2;
    transform: scaleX(1);
    transform-origin: bottom;
    transition: transform 0.3s, height 0.3s;
    border-radius: 4px;
  }
  
  .name:hover::before {
    height: calc(100% + 4px);
  }

  button:hover img {
    fill: white;
  }