body {
    /* Background image from SVG Backgrounds (https://www.svgbackgrounds.com) */
    background-image: url('../../assets/images/footer-bg.svg');
    background-size: auto;
    background-position: 2rem 1rem;
}